services:
  - type: web
    name: teddystale
    env: python
    region: frankfurt  # Европа, важно для GDPR
    plan: free
    buildCommand: chmod +x build.sh && ./build.sh
    startCommand: chmod +x start.sh && ./start.sh
    healthCheckPath: /
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: teddystale-db
          property: connectionString
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: DJANGO_DEBUG
        value: false
      - key: DJANGO_ALLOWED_HOSTS
        value: teddystale-with-backend.onrender.com
      - key: YANDEX_MAPS_API_KEY
        sync: false
      - key: CSRF_TRUSTED_ORIGINS
        value: https://teddystale-with-backend.onrender.com
      - key: CSRF_COOKIE_SECURE
        value: true
      - key: SESSION_COOKIE_SECURE
        value: true
      - key: SECURE_SSL_REDIRECT
        value: true

databases:
  - name: teddystale-db
    databaseName: teddystale
    user: teddystale_user
    plan: free
    region: frankfurt