# Файл: render.yaml
# Расположение: В корне Git-репозитория (TeddysTale_with-BackEnd/)

services:
  - type: web
    name: teddystale
    runtime: python
    plan: free
    # Ключевое изменение: сборка и запуск происходят в подпапке проекта
    buildCommand: "cd TeddyTale && chmod a+x build.sh && ./build.sh"
    startCommand: "cd TeddyTale && gunicorn TeddyTale.wsgi:application"
    envVars:
      - key: DEBUG
        value: "False"
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
    envVarFiles:
      - source: render
        type: auto

databases:
  - name: teddystaledb
    plan: free
    databaseName: teddystale
    user: dev