# render.yaml
services:
  - type: web
    name: teddystale
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    plan: free
    numInstances: 1
    healthCheckPath: /
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: teddystale-db
          property: connectionString
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: DJANGO_DEBUG
        value: false
      - key: DJANGO_ALLOWED_HOSTS
        value: teddystale.onrender.com
      - key: YANDEX_MAPS_API_KEY
        sync: false
      - key: CSRF_COOKIE_SECURE
        value: true
      - key: SESSION_COOKIE_SECURE
        value: true
      - key: CSRF_TRUSTED_ORIGINS
        value: https://teddystale.onrender.com
      - key: SECURE_SSL_REDIRECT
        value: true

databases:
  - name: teddystale-db
    databaseName: teddystale
    user: teddystale_user
    plan: free